// First Row
.projects-row.d-flex.flex-column.flex-sm-column.flex-md-row.justify-content-between
  .project-box
    img.image(src="src/img/projects/betagrades.png" alt="betagrades" height="250" width="400")
    .body
      h5.title Betagrades Africa Official Website
      p.description Official Website for BetaGrades - An ICT solution company for educational institutions in Africa
      a.button(href="https://betagrades.com" target="_blank") Live link
      .tags
        span.tag #HTML
        span.tag #CSS
        span.tag #Javascript
        span.tag #JQuery
        span.tag #PHP
        span.tag #AJAX
  
  .project-box
    img.image(src="src/img/projects/projectreed.png" alt="" height="250" width="400")
    .body
      h5.title ProjectREED
      p.description Official website of ProjectREED, a non-profit project with the aim of redefining the education system in Nigeria by inculcating leadership and entrepreneural qualities in school kids
      a.button(href="https://projectreed.com.ng" target="_blank") Live link 
      .tags
        span.tag #HTML
        span.tag #CSS
        span.tag #JavaScript
        span.tag #JQuery
        span.tag #MySQL
        span.tag #Paystack & Paypal Payment API
  

  .project-box
    img.image(src="src/img/projects/ebun.png" alt="" height="250" width="400")
    .body
      h5.title EbunGifts
      p.description Ebun lets people share their anniversaries and desired gifts with friends and have their wishes granted.
      a.button(href="https://ebungift.com" target="_blank") Live link
      .tags
        span.tag #HTML5
        span.tag #CSS
        span.tag #JavaScript
        span.tag #PHP
        span.tag #JQuery
        span.tag #AJAX  