.projects-row.d-flex.flex-column.flex-sm-column.flex-md-row.justify-content-between
  .project-box.-fullview
    img.image(src="src/img/projects/cbt.png" alt="" height="250" width="400")
    .body
      h5.title Computer Based Examination System
      p.description A CBT system that allows teachers and school administrators setup exams that can be taken by their students 
      a.button(href="https://cbt.betagrades.com" target="_blank") A Demo on their official Website
      .tags
        span.tag #HTML5
        span.tag #Sass
        span.tag #JavaScript (ES6)
        span.tag #AJAX
        span.tag #Webpack
        span.tag #Ruby
        span.tag #RubyOnRails
        span.tag #PostgreSQL

  .project-box.-fullview
    img.image(src="src/img/projects/food.png" alt="" height="250")
    .body
      h5.title Food Delivery System
      p.description A Progressive Web App that allows users place orders for their favorite food items from their favourite kitchens
      a.button(href="https://asapfoods.com.ng" target="_blank") Live link
      .tags
        span.tag #React JS
        span.tag #Redux
        span.tag #Webpack
        span.tag #Babel
        span.tag #Laravel API
        span.tag #HTML
        span.tag #CSS3
        span.tag #JavaScript (ES6/7)
        
        span.tag #MySQL
        span.tag #Paystack payment integration

  .project-box.-fullview
    img.image(src="src/img/projects/smartteacher.png" alt="" height="250" width="400")
    .body
      h5.title SmartTeacher
      p.description A Student Performance Analytics system for teacher that helps track and analyze performance in the classroom, based on specified metrics
      a.button(href="https://smartteacher.com.ng" target="_blank") Live link
      .tags
        span.tag #HTML5
        span.tag #Laravel
        span.tag #JavaScript (ES6)
        span.tag #JQuery
        span.tag #CSS