doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  meta(name='author', content='Gbenga Oni')
  meta(name='description', content='Gbenga Oni is a Nigerian Software developer. A designer, developer, entrepreneur, lover of books and writing')
  meta(name='keywords', content='Gbenga Oni, design, designer, developer, Lagos, Nigeria, UX, Mobile web, software developer, css, html, jQuery, PHP, Laravel, Javascript, React Js, React Native, Redux, web security, web app')
  title Gbenga Oni - Software Developer: My Projects
  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css', integrity='sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M', crossorigin='anonymous')
  link(rel='stylesheet', href='https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css')
  script(src='https://use.fontawesome.com/05f5671d94.js')
  script(src='https://www.googletagmanager.com/gtag/js?id=UA-126371045-1')
  script(src="src/js/analytics.js") 

#particles-js

nav#menu
  .nav-menu.d-flex.justify-content-between
    .title
      a.link.name(href='/') Gbenga Oni
    .sections
      a.link(href='/') Home
      a.link(href='#projects').-active Projects
      
      a.link(href='https://medium.com/@Gbxnga') Blog
.container.main-container
  // start of main-container
  section#projects.projects
    include assets/star-projects
    include assets/remaining-projects
  a.bottom-link(href="/") Go back

